@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-6">
        <h2>Computers on hand</h2>
        <ul>
            <li>New - @Model.newCount</li>
            <li>In Progress - @Model.inProgressCount</li>
            <li>Pending Respose - @Model.pendingResponseCount</li>
            <li>Pending Pickup - @Model.pendingPickupCount</li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Current Inventory Handle Time</h2>
        <ul>
            <li>Average Ticket Age - @Model.avgAge.Days Days</li>
            <li>Oldest Ticket - @Model.maxAge.Days Days <a class="btn btn-danger" asp-controller="Ticket" asp-action="Details" asp-route-ticketId="@Model.maxAgeTicketId">Open Ticket</a></li>
            <li>Average Ticket Idle - @Model.avgIdle.Days Days</li>
            <li>Longest Idle Ticket - @Model.maxIdle.Days Days <a class="btn btn-danger" asp-controller="Ticket" asp-action="Details" asp-route-ticketId="@Model.maxAgeTicketId">Open Ticket</a></li>
            
        </ul>
    </div>
    
</div>
