@model UpdateViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
    </script>
</head>
<body>

    <div class="panel panel-primary">
        <div>Status update for @Model.Device.Make @Model.Device.ModelNumber<span class="pull-right">Ticket #@Model.Ticket.TicketNumber</span></div>

        <table class="table table-hover">
            <tr>
                <td>Ticket Status: </td>
                <td>@Model.Ticket.TicketStatus.ToString()</td>
            </tr>
            <tr>
                <td>Check in date: </td>
                <td>@Model.Ticket.CheckInDate.ToString()</td>
            </tr>
            <tr>
                <td>Most recent service:  </td>
                <td>@Model.Log.LogType.ToString() performed at @Model.Log.Logged.ToString()</td>
            </tr>
        </table>
        <div class="panel-footer">Feel free to contact us with any questions at 425-235-2531 Ext. 5722</div>
        <div class="panel-footer">E-mail us at <A HREF="mailto:chips@student.rtc.edu">chips@student.rtc.edu</A></div>


    </div>
</body>
</html>
