@model NewDeviceViewModel
<tr>
    <td scope="row">
        @if (Model.TicketNumber > 0)
        {
            @Model.TicketNumber;
        }
        else
        {
            <em>none</em>
        }
    </td>
    <td>
        @if (Model.TicketNumber > 0)
        {
            @EnumHelper.GetDisplayName(Model.TicketStatus);
        }
        else
        {
            <em>none</em>
        }
    </td>
    <td>@Model.CustomerFirstName @Model.CustomerLastName</td>
    <td>@Model.Make @Model.ModelNumber</td>
    <td>@Model.OperatingSystem</td>
    <td>@Model.Password</td>
    <td>
        @if (Model.Serviced)
        {
            <i class="fas fa-check"></i>
        }
    </td>
    <td>
        <a class="btn btn-sm btn-outline-primary" asp-controller="Ticket" asp-action="TicketsByDeviceId" asp-route-deviceId="@Model.Id">Open Ticket</a>
    </td>
</tr>