@model DeviceViewModel
<tr>
    <td scope="row">
        @if (Model.Ticket != null)
        {
            @Model.Ticket.TicketNumber;
        }
        else
        {
            <em>none</em>
        }
    </td>
    <td>
        @if (Model.Ticket != null)
        {
            @EnumHelper.GetDisplayName(Model.Ticket.TicketStatus);
        }
        else
        {
            <em>none</em>
        }
    </td>
    <td>@Model.Customer.FirstName @Model.Customer.LastName</td>
    <td>@Model.Make @Model.ModelNumber</td>
    <td>@Model.OperatingSystem</td>
    <td>@Model.Password</td>
    <td>
        @if (Model.Serviced)
        {
            <i class="fas fa-check"></i>
        }
    </td>
    <td>
        <a class="btn btn-sm btn-outline-primary" asp-controller="Ticket" asp-action="TicketsByDeviceId" asp-route-deviceId="@Model.Id">Open Ticket</a>
    </td>
</tr>