@model DeviceViewModel

<tr>
    <td>@Model.Customer.FirstName @Model.Customer.LastName</td>
    <td>@Model.Make</td>
    <td>@Model.ModelNumber</td>
    <td>@Model.OperatingSystem</td>
    <td>@Model.Password</td>
    <td>@Model.Serviced</td>
    <td>@if (Model.Ticket != null) { @Model.Ticket.TicketStatus; }</td>
    <td>@if (Model.Ticket != null) { @Model.Ticket.TicketNumber; 
        <a class="btn btn-group btn-success pull-right" asp-controller="Ticket" asp-action="TicketsByDeviceId" asp-route-deviceId="@Model.Id">Open Ticket</a>}</td>
</tr>