@model DeviceViewModel

<tr>
    <td class="panel-body">@Model.Owner.FirstName @Model.Owner.LastName</td>
    <td class="panel-body">@Model.Make</td>
    <td class="panel-body">@Model.ModelNumber</td>
    <td class="panel-body">@Model.OperatingSystem</td>
    <td class="panel-body">@Model.Password</td>
    <td class="panel-body">@Model.Serviced</td>
    <td class="panel-body">@if (Model.Ticket != null) { @Model.Ticket.TicketStatus; }</td>
    <td class="panel-body">@if (Model.Ticket != null) { @Model.Ticket.TicketNumber; }</td>
</tr>