@model UpdateViewModel
@{
    Layout = "_Confirmation";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Confirmation</title>
    <script>
        function openTicketHome() {
            window.print();
            window.open("http://localhost:52394/Ticket/Home")
        }
    </script>
</head>
<body onload="openTicketHome()">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="invoice-title">

                    <img src="~/images/ChipsLogo_BlkFullRaw.png" width="100px" height="50px" />
                    <h3 class="pull-right">Ticket # @Model.Ticket.TicketNumber</h3>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <strong>Customer</strong><br>
                            @Model.Customer.FirstName @Model.Customer.LastName<br>
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <address>
                            <strong>Device Info:</strong><br>
                            @Model.Device.Make<br>
                            @Model.Device.ModelNumber<br>
                        </address>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <address>
                            <strong>Chips Hours:</strong><br>
                            Monday - Thursdays: Noon-5pm<br>
                            Chips is closed Friday, Saturday, Sunday<br>
                            Email: chips@chips.rtc.edu<br>
                            Phone: 425-254-3534
                        </address>
                    </div>
                    <div class="col-xs-6 text-right">
                        <img src="@Url.Action("GetQRByGuid", new { code = Model.Update.Id.ToString() })" width="200px" height="200px" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
