@model IEnumerable<NewDevicesByCustIdViewModel>
@{ ViewBag.Title = "Ticket Home";}
<h2>Devices Owned by @ViewBag.CustomerFirstName @ViewBag.CustomerLastName</h2>

<div class="card-deck">
    @foreach (var device in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@device.Make @device.ModelNumber</h5>
                <h6 class="card-subtitle">@device.OperatingSystem</h6>
                <div class="btn-group">
                    <a class="btn btn-primary" asp-controller="Ticket" asp-action="CreateByExistingDeviceId" asp-route-deviceId="@device.Id"><i class="fas fa-plus"></i> New Ticket</a>
                    <a class="btn btn-secondary" asp-controller="Device" asp-action="Edit" asp-route-deviceId="@device.Id"><i class="fas fa-pencil-alt"></i> Edit</a>
                    <a class="btn btn-outline-secondary" asp-controller="Ticket" asp-action="TicketsByDeviceId" asp-route-deviceId="@device.Id">View All Tickets</a>
                </div>
            </div>
        </div>
    }
</div>
