@model IEnumerable<CSMWebCore.ViewModels.DeviceViewModel>
@{ ViewBag.Title = "Devices On Hand";}
<h2>@ViewBag.Title</h2>
<table class="table table-hover table-responsive">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Ticket.TicketNumber)</th>
        <th>@Html.DisplayNameFor(model => model.Ticket.TicketStatus)</th>
        <th>@Html.DisplayNameFor(model => model.Customer)</th>
        <th>Make &amp; Model</th>
        <th>@Html.DisplayNameFor(model => model.OperatingSystem)</th>
        <th>@Html.DisplayNameFor(model => model.Password)</th>
        <th>@Html.DisplayNameFor(model => model.Serviced)</th>
        <th></th>
    </tr>
    @foreach (var device in Model)
    {
        @await Html.PartialAsync("_DeviceTableRow", device);
    }
</table>