@model CustomerActiveViewModel
<div>
    <div>
        <div>
            <a asp-controller="Customer" asp-action="Details" asp-route-id="@Model.Customer.Id">
                <table class="table-responsive table-striped">
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone</th>
                        <th>E-mail</th>
                        <th>Student Id</th>
                        <th>Contact Method</th>
                    </tr>
                    <tr>
                        <td>@Model.Customer.FirstName</td>
                        <td>@Model.Customer.LastName</td>
                        <td>@Model.Customer.Phone</td>
                        <td>@Model.Customer.Email</td>
                        <td>@Model.Customer.StudentId</td>
                        <td>@Model.Customer.ContactPref.ToString()</td>
                    </tr>
                </table>
            </a>
        </div>
    </div>
</div>