@model CustomerViewModel

<tr>
    <td class="panel-body">@Model.FirstName</td>
    <td class="panel-body">@Model.LastName</td>
    <td class="panel-body">@Model.Phone</td>
    <td class="panel-body">@Model.StudentId</td>
    <td class="panel-body">@Model.Email</td>
    <td class="panel-body">@Model.ContactPref</td>
</tr>