@model CustomerViewModel

<tr>
    <td>@Model.FirstName</td>
    <td>@Model.LastName</td>
    <td>@Model.Phone</td>
    <td>@Model.StudentId</td>
    <td>@Model.Email</td>
    <td>@Model.ContactPref</td>
</tr>