@model IEnumerable<CustomerViewModel>
<h2>Customers</h2>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FullName)</th>
            <th>@Html.DisplayNameFor(model => model.StudentId)</th>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.ContactPref)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            @await Html.PartialAsync("_CustomerTableRow", customer)
        }
    </tbody>
</table>


