@model LogViewModel

<tr>
    <td>@Model.Id</td>
    <td>@Model.UserId</td>
    <td>@Model.TicketId</td>
    <td>@Model.Logged</td>
    <td>@Model.Notes</td>
    <td>@Model.LogType</td>
    <td>@Model.ContactMethod</td>
</tr>