@model LogViewModel

<tr>
    <td class="panel-body">@Model.Id</td>
    <td class="panel-body">@Model.UserId</td>
    <td class="panel-body">@Model.TicketId</td>
    <td class="panel-body">@Model.Logged</td>
    <td class="panel-body">@Model.Notes</td>
    <td class="panel-body">@Model.LogType</td>
    <td class="panel-body">@Model.ContactMethod</td>
</tr>