@model TicketHomeViewModel
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
        <a data-toggle="collapse" href=@string.Format($"#collapse{ Model.Ticket.TicketNumber}")>
            <table class="table-responsive table-striped">
                <tr class="panel">
                    <th class="panel-heading">Ticket</th>
                    <th class="panel-heading">Status</th>
                    <th class="panel-heading">Customer</th>
                    <th class="panel-heading">Check-In Date</th>
                    <th class="panel-heading">Last Serviced</th>
                    <th class="panel-heading">Needs Backup</th>
                    <th class="panel-heading">Notes</th>
                </tr>
                <tr class="panel-default">
                    <td class="panel-body">@Model.Ticket.TicketNumber</td>
                    <td class="panel-body">@Model.Ticket.TicketStatus.ToString()</td>
                    <td class="panel-body">@Model.Customer.LastName</td>
                    <td class="panel-body">@Model.Ticket.CheckedIn.ToShortDateString()</td>
                    <td class="panel-body">@Model.Log.Logged.ToShortDateString()</td>
                    <td class="panel-body">@Model.Ticket.NeedsBackup.ToString()</td>
                    <td class="panel-body">@Model.Log.Notes.ToString()</td>
                </tr>
            </table>
        </a>
        </div>
        <div id='@string.Format($"collapse{ Model.Ticket.TicketNumber}")' class="panel-collapse collapse">
            @foreach (var log in Model.Logs)
            {
                <table class="table-responsive">
                    <tr class="panel">
                        <th class="panel-heading">Technician</th>
                        <th class="panel-heading">Time Service Performed</th>
                        <th class="panel-heading">Type of Contact</th>
                    </tr>
                    <tr>
                        <td class="panel-body">@log.UserId</td>
                        <td class="panel-body">@log.Logged</td>
                        <td class="panel-body">@log.ContactMethod.ToString()</td>
                    </tr>
                </table>

                <div class="panel-body table-bordered">@log.Notes</div>


            }
                <div class="btn-group">
                    <a class="btn btn-primary" asp-controller="Log" asp-action="Service" asp-route-ticketId="@Model.Ticket.Id">Log Service</a>
                    <a class="btn btn-success" asp-controller="Log" asp-action="Contact" asp-route-ticketId="@Model.Ticket.Id">Log Contact</a>
                    <a class="btn btn-info" asp-controller="Customer" asp-action="Details" asp-route-id="@Model.Customer.Id">Customer Details</a>
                    <a class="btn btn-warning" asp-controller="Device" asp-action="Details" asp-route-id="@Model.Ticket.DeviceId">Device Details</a>
                </div>

        </div>
    </div>
</div>

