@model Log
    <tr>
        <td class="panel-body">@Model.ContactMethod.ToString()</td>
        <td class="panel-body">@Model.Logged</td>
        <td class="panel-body">@Model.TicketId</td>
        <td class="panel-body">@Model.UserId</td>
    </tr>
    <tr>
        <td class="panel-body">@Model.Notes</td>
    </tr>
