@model Log
    <tr>
        <td>@Model.ContactMethod.ToString()</td>
        <td>@Model.Logged</td>
        <td>@Model.TicketId</td>
        <td>@Model.UserId</td>
    </tr>
    <tr>
        <td>@Model.Notes</td>
    </tr>
