@model Log
    <tr>
        <td>@Model.ContactMethod.ToString()</td>
        <td>@Model.DateCreated</td>
        <td>@Model.TicketId</td>
        <td>@Model..UserCreated</td>
    </tr>
    <tr>
        <td>@Model.Notes</td>
    </tr>
