@*@model TicketViewModel

<tr>
    <td>@Model.Id</td>
    <td>@Model.DeviceId</td>
    <td>@Model.CheckedIn</td>
    <td>@Model.CheckedOut</td>
    <td>@Model.Finished</td>
    <td>@Model.CheckInUserId</td>
    <td>@Model.CheckOutUserId</td>
    <td>@Model.NeedsBackup</td>
    <td>@Model.TicketStatus</td>
</tr>*@