@model TicketViewModel

<tr>
    <td class="panel-body">@Model.Id</td>
    <td class="panel-body">@Model.DeviceId</td>
    <td class="panel-body">@Model.CheckedIn</td>
    <td class="panel-body">@Model.CheckedOut</td>
    <td class="panel-body">@Model.Finished</td>
    <td class="panel-body">@Model.CheckInUserId</td>
    <td class="panel-body">@Model.CheckOutUserId</td>
    <td class="panel-body">@Model.NeedsBackup</td>
    <td class="panel-body">@Model.TicketStatus</td>
</tr>