@model TicketViewModel
<tr>
    <td scope="row">@Model.Ticket.TicketNumber</td>
    <td>@EnumHelper.GetDisplayName(Model.Ticket.TicketStatus)</td>
    <td>@Model.Customer.LastName</td>
    <td>@Model.Ticket.CheckedIn.ToShortDateString()</td>
    <td>@Model.Log.Logged.ToShortDateString()</td>
    <td>
        @if (Model.Ticket.NeedsBackup)
        {
            <i class="fas fa-check"></i>
        }
    </td>
    <td>@Model.Log.Notes.ToString()</td>
</tr>