@model TicketViewModel
<tr>
    <td scope="row">@Model.Ticket.TicketNumber</td>
    <td>@EnumHelper.GetDisplayName(Model.Ticket.TicketStatus)</td>
    <td>@Model.Customer.LastName</td>
    <td>@Model.Ticket.CheckedIn.ToShortDateString()</td>
    <td>@Model.Log.Logged.ToShortDateString()</td>
    <td>
        @if (Model.Ticket.NeedsBackup)
        {
            <i class="fas fa-check"></i>
        }
    </td>
    <td>@Model.Log.Notes.ToString()</td>
    <td>
        <div class="btn-group">
            <a class="btn btn-sm btn-outline-primary" asp-controller="Log" asp-action="Service" asp-route-ticketId="@Model.Ticket.Id">Log Service</a>
            <a class="btn btn-sm btn-outline-primary" asp-controller="Log" asp-action="Contact" asp-route-ticketId="@Model.Ticket.Id">Log Contact</a>
            <a class="btn btn-sm btn-outline-secondary" asp-controller="Customer" asp-action="Details" asp-route-id="@Model.Customer.Id">Customer Details</a>
            <a class="btn btn-sm btn-outline-secondary" asp-controller="Device" asp-action="Details" asp-route-deviceId="@Model.Ticket.DeviceId">Device Details</a>
        </div>
    </td>
</tr>